@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5fafc; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 1085px;
  margin: auto;
  width: 100%; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (max-width: 991px) {
  .container {
    max-width: 750px; } }

@media (max-width: 770px) {
  .container {
    max-width: 100%; } }

.button {
  padding: 20px 38px;
  background-color: #f04040;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 250px; }

.button-o {
  max-width: 350px;
  cursor: pointer; }

.link {
  text-decoration: none;
  cursor: pointer;
  color: #fff; }

.but {
  margin: 0 auto;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px; }

.section-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #466ae4;
  margin-bottom: 25px;
  padding-top: 50px; }

.section-text {
  display: block; }

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #40f04d;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
  border-radius: 5px;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white; }

.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

.header-images {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

.header-images img {
  width: 100%; }

.header-img {
  position: absolute;
  bottom: 0;
  left: 0; }

.header-img img {
  width: 100%; }

.header-cont {
  min-height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.header-wrap {
  z-index: 100; }

.header-title {
  font-size: 25px;
  color: #466ae4;
  font-weight: bold;
  margin-bottom: 20px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.header-text {
  font-size: 18px;
  margin-bottom: 25px; }

@media (max-width: 706px) {
  .header-cont {
    margin-top: 100px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .header-wrap {
    margin-top: 100px; }
  .header-images {
    display: none; }
  .header-img {
    top: 0; } }

@media (max-width: 400px) {
  .header {
    margin: 0 20px; } }

.piddash-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px; }

.piddash__item {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  padding: 15px;
  min-width: 185px; }

.piddash-text {
  display: block;
  margin-top: 10px; }

@media (max-width: 620px) {
  .piddash__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-top: 50px; } }

.buy {
  background-color: #466ae4;
  margin-top: 350px;
  padding-top: 300px; }
  .buy-video {
    position: absolute;
    height: 500px;
    width: 100%;
    top: -650px; }

.video_wrap {
  height: 100%; }

.video {
  height: 100%; }

.white {
  color: #fff; }

.container {
  position: relative; }

.foto-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .foto-wrap__item {
    overflow: hidden;
    max-height: 200px;
    margin: 15px; }
    .foto-wrap__item:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .foto-wrap__item img {
    border-radius: 5px; }

.zamov {
  background-color: #466ae4;
  color: #fff; }
  .zamov-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .zamov-wrap__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 10px;
      width: 230px; }
    .zamov-wrap__arrow {
      max-width: 10px; }
    .zamov-wrap__text {
      margin-top: 10px; }
  .zamov__img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

@media (max-width: 770px) {
  .zamov-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #fff;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
    .zamov-wrap__arrow {
      display: none; }
  .video {
    width: 90%;
    margin: 0 auto; } }

.detal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px; }
  .detal-one {
    width: 360px;
    padding-top: 50px; }
  .detal-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px; }
    .detal-item__images {
      margin-right: 20px; }
  .detal-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .detal-title {
    font-size: 20px;
    color: #466ae4;
    font-weight: bold;
    margin-bottom: 35px; }

@media (max-width: 991px) {
  .detal {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .detal-one {
    width: 90%; }
  .detal-two {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .detal-two img {
    width: 100%; } }

.footer {
  padding: 12px 20px; }
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
